<header>
    <div class="container">
        <div class="header-data">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/user-field">
                            <span><img src="../../assets/icon1.png" alt=""></span> Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="/search-friend">
                            <span><img src="../../assets/icon4.png" alt=""></span> Friends
                        </a>
                    </li>
                    <li>
                        <a routerLink="/invitation">
                            <span><img src="../../assets/icon7.png" alt=""></span> Invitation
                        </a>
                    </li>
                    <li>
                        <a>
                            <span><img src="../../assets/icon6.png" alt=""></span> Messages
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="user-info">
                <a routerLink="/">Log Out</a>
            </div>
        </div>
    </div>
</header>

<div class="table-view-invitatation" *ngIf="myresponse">
    <table id="myTable" class="table table-bordered table-responsive-md sortable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Invitation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of myresponse">
                <td>{{user.firstName}}</td>
                <td id="tdl">{{user.lastName}}</td>
                <td id="invite">
                    <div class="row">
                        <button type="submit" value="submit" id="button1" (input)="Accept()"></button>
                        <button type="submit" value="submit" id="button2" (input)="Ignore()"></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>