<div class="container">
    <h3>Sign in</h3>
    <form>
        <div class="text-center">
            <div class="input-group input-group-lg">
                <span class="imput-group-addon">Username</span>
                    <input type="text" class="form-control" name="username" placeholder="Username" required autocomplete="off" [(ngModel)]=User.username>
            </div><br>
            <div class="input-group input-group-lg">
                <span class="imput-group-addon">Email</span>
                    <input  type="email" class="form-control" name="email" placeholder="email@gmail.com" required autocomplete="off" [(ngModel)]="User.email">
            </div>
            <button class="btn btn-primary btn-lg" type="submit" value="submit" id="button" (click)="change()">Change Password</button>
        </div>
    </form>    
</div>

