<header>
    <div class="container">
        <div class="header-data">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/user-field">
                            <span><img src="../../assets/icon1.png"></span> Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="/search-friend">
                            <span><img src="../../assets/icon4.png"></span> Friends

                        </a>
                    </li>
                    <li>
                        <a routerLink="/invitation">
                            <span><img src="../../assets/icon7.png"></span> Invatation
                        </a>
                    </li>
                    <li>
                        <a routerLink="/changepassword">
                            <span><img src="../../assets/icon6.png"></span> Change Password
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="user-info">
                <a routerLink="/" (click)="togglePage()">Log Out</a>
            </div>
        </div>
    </div>
</header>

<div class="main-user col-lg-3 col-md-4 pd-left-none no-pd">
    <div class="main-left-sidebar no-margin">
        <div class="user-profile">
            <div class="username-dt">
                <div class="usr-pic">
                    <img src={{src}} id="profilePic">
                </div>
            </div>

            <div class="user-specs">
                <h3>{{user.firstName}} {{user.lastName}}</h3>
            </div>
        </div>
        <div class="user-fw-status">
            <div>
                <p>Email</p>
                <span>{{user.email}}</span>
            </div>
            <div>
                <p>Address</p>
                <span>{{user.address}}</span>
            </div>
            <div>
                Upload Profile Picture: <input type="file" id="fileUpload" (change)="uploadFile($event)">
            </div>
        </div>
    </div>
</div>

<div class="posts-section">
    <div class="post-bar">
        <div class="post_topbar">
            <div class="usy-dt">
                <div class="usy-name">
                    <h3>{{user.firstName}}</h3>
                </div>
            </div>
            <!-- <div class="ed-opts">
                <a class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
                <ul class="ed-options">
                    <li><a>Edit Post</a></li>
                    <li><a>Unsaved</a></li>
                    <li><a>Unbid</a></li>
                    <li><a>Close</a></li>
                    <li><a>Hide</a></li>
                </ul>
            </div> -->
        </div>
        <div class="epi-sec">
            <ul class="bk-links">
                <li><a><i class="la la-bookmark"></i></a></li>
                <li><a><i class="la la-envelope"></i></a></li>
            </ul>
        </div>
        <ul>
            <li>
                <!-- *ngFor="let tD of tDatas"-->
                <div *ngFor="let tD of tDatas" class="text_descp">
                    <p> {{ tD }} </p>
                </div>
                <div class="status-bar">
                    <!--*ngFor="let ln of likes"-->
                    <a><i class="fas fa-heart" (click)="likeCount()"></i> {{ like }} </a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="posty">
    <div class="comment_box">
        <form class="row">
            <input type="text" placeholder="Post a comment" [(ngModel)]="tData">
            <a class="plus-ic" (click)="inputData()"><i class="la la-plus"></i></a>
        </form>
    </div>
</div>