

<!-- <div id="fetchbtn">
        <div class="text-center">
    <button type="button" class="btn btn-outline-primary" (click)="getAllEmployees()">Click To See Available Movies and Show Times</button>
  </div>
    </div>
    <br> -->
    <div class="card">
    <div *ngIf="myresponse">
      <table class="table table-bordered table-hover">
        <thead>
          <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let Movie of myresponse"> -->
            <tr>
            <td>{{myresponse.firstname}}</td>          
            <td>{{myresponse.movieName}}</td>
            <td>{{myresponse.movieRating}}</td>
            <td>{{myresponse.showTimes}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="text-center">
    <h1>Update Your Profile</h1>
    <div id="updatebtn1">
            <input type="text" [(ngModel)] = "myresponse.userName" placeholder="Enter New First Name"/>
    <!-- <button type="button" class="btn btn-outline-primary" (click)="UpdateProfile()">Update</button> -->
    </div>
    <br>
    <div id="updatebtn2">
        <input type="text" [(ngModel)] = "lastNameUpdateInput" placeholder="Enter New Last Name"/>
  <!-- <button type="button" class="btn btn-outline-primary" (click)="UpdateProfile()">Update</button> -->
  </div>
  <br>
  <div id="updatebtn3">
      <input type="text" [(ngModel)] = "emailUpdateInput" placeholder="Enter New Email"/>
  <!-- <button type="button" class="btn btn-outline-primary" (click)="UpdateProfile()">Update</button> -->
  </div>
  <br>
  <div id="updatebtn4">
      <input type="text" [(ngModel)] = "addressUpdateInput" placeholder="Enter New Address"/>
  
  </div>
  <br>
  <button type="button" class="btn btn-outline-primary" (click)="UpdateProfile()">Update</button>
  <br>
  <br>
</div>