<div *ngIf="myresponse">

  <h1>Update Your Profile</h1>
  <div class="form-group">
  <div id="updatebtn1">
      <b>First name:</b>
      <input type="text" placeholder="Enter New First Name" [(ngModel)] = "myresponse.firstName" name="first"/>
    </div>
  </div>
    <br>        
    <div class="form-group">
    <div id="updatebtn2">
        <b>Last name:</b>
        <input type="text" [(ngModel)] = "myresponse.lastName" placeholder="Enter New Last Name" />
      </div>
    </div>
      <br>
      <div class="form-group">
      <div id="updatebtn3">
          <b>Email: </b>
          <input type="text" [(ngModel)] = "myresponse.email" placeholder="Enter New Email"/>
        </div>
      </div>
        <br>
        <div class="form-group">
        <div id="updatebtn4">
            <b>Address: </b>
            <input type="text" [(ngModel)] = "myresponse.address" placeholder="Enter New Address"/>      
          </div>
          <button type="button" class="btn btn-outline-primary" (click)="updateProfile()">Update</button>
          </div>
        </div>
