<div class="main-sec">
    <div class="sign_in_sec current">
        <h3>Password Recovery</h3>
        <form>
            <div class="row">
                <div class="col-lg-12 no-pdd">
                    <p style="font-size: 1.2em;">Please enter your Username for password recovery</p>
                    <div class="sn-field">
                        <input type="text" name="username" placeholder="Username" required autocomplete="off">
                        <i class="la la-user"></i>
                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <button type="submit" value="submit" id="button">Commit</button>
                </div>
            </div>
        </form>
    </div>
</div>