<div class="main-page">
    <div class="main row">
        <div class="col-lg-6">
            <div class="cm-logo">
                <p><a routerLink="/" style="color:#000000; font-weight: bold;">Project II</a>, is a social media network where people connect and collaborate remotely</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
                <ul class="sign-control">
                    <li><a routerLink="/sign-in" id="swap">Sign in</a></li>
                    <li><a routerLink="/sign-up" id="swap">Sign up</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>