<html>

<!-- <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head> -->

<body>
  <div class="container">
    <div id="fetchbtn">
        <input type="text" [(ngModel)] = "userSF"  placeholder="Userr" (input)="Search()"/>            
        <!-- <button type="button" class="btn btn-outline-success" (click)="getAllMovies()">Click me</button> -->
        {{userSF}}
    </div>
    <hr />    
    <div *ngIf="myresponse">
      <table class="table table-bordered table-hover" >
        <thead>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Request Invitation</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of myresponse">           
            <td>{{user.firstName}}</td> 
            <td>{{user.lastName}}</td> 
            <td><button>Invitation</button></td>       
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
